* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 20px;
    border-radius: 16px;
    background-color: #1E1E1E;
    margin-top: 50px;
  }
  
  .login_title {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    color: #FFB400;
    text-align: center;
  }
  
  .login_text {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: center;
    color: #666D80;
  }
  
  .typography_text {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21.7px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .forgot_password {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #007bff;
    cursor: pointer;
  }
  
  .checkbox_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .btn_sign_google, .btn_sign_apple {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    border-radius: 100px;
    background-color: #F8FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFE1E7;
    cursor: pointer;
    text-transform: none;
  }
  
  .Sign_up_title {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21.7px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .sign_up_link {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.8px;
    color: #1BA98F;
    cursor: pointer;
    margin-left: 5px;
  }
  